
  body{
    margin:0; 
    padding:0; 
    font-size:15px; 
    font-family:'Raleway';
    color:#e5cfcf; 
    background-color:#252121;}
    
 
   
/*--------------General-----------------------*/

a{
  outline:none; 
  text-decoration:none;
  color: inherit;}

h1, h2, h3, h4, h5, h6{
      margin:0; 
      padding:0; 
      font-size:22px; 
      font-weight:normal; 
      font-style:normal; 
      line-height:normal;}

#header, #header2, #footer, .container{
      display:block; 
      width:960px; 
      margin:0 auto;}

p, ol, th, td{
  font-size:medium;
  font-family: 'Raleway';
  color: #232323;

}

img{
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 90%;
  
}
/*-------------------------Tables--------------------*/

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 1.5px;
}

tbody {
  background-color: #fbfbfb;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align:center;
}

td, th {
  border: 2px solid rgb(72, 1, 1);
  padding: 8px;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
  display:flex; 
  width:100%;
  margin:0px 0px 20px 0px; 
  padding:0; 
  text-align:left;}
  
  .row1, .row1 a .row2 a{
    color:#C0BAB6;}
  .row2 {
    color:#fdd6be;
  }

/*------------------Header--------------------*/

#header{
  
  padding:20px;
  background: linear-gradient(rgba(255, 255, 255, 0.144), rgba(255,255,255,.5)), url(images/bella-and-papi.jpg);
  /*-- background-attachment: scroll; -- Try to use it with full WebSite*/
  background-size: cover;
  background-position: -40% 40.5%;}

#header #hgroup{
  float:left; 
  margin:0 0 20px 0;}

#header #hgroup h1, #header #hgroup h2{
 position: relative; 
  font-family: 'Raleway'; 
  font-style:normal; 
  text-transform:none;}

#header #hgroup h1{
  font-size:42px;
  font-weight:bold}

#header #hgroup h2{
  font-size:18px;}

#header form{
  display:block; 
  width:320px; 
  float:right; 
  margin:20px 0; 
  padding:0;}

#header form input{
  display:block; 
  float:left; 
  width:200px; 
  margin:0; 
  padding:5px; 
  color:#C0BAB6; 
  background-color:#2c2929; 
  border:1px solid #666666;}

#header form #sf_submit{
  display:block; 
  float:right; 
  width:70px; 
  padding:5px;
  font-size:12px; 
  font-weight:bold; 
  text-transform:uppercase; 
  color:#FFFFFF; 
  background-color:#670303; 
  border:none; 
  cursor:pointer;}


#header nav{
  display:block; width:100%; margin:0; padding:20px 0; color:#C0BAB6; background-color:#232323; clear:both;}
#header nav ul{
    display: flex;
  padding:0 20px;}
#header nav li{
  display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li a{
  color:#C0BAB6; background-color:#232323;}
#header nav li a:hover{
  color:#fddd9d; background-color:#232323;}

.container {
  margin: 0 auto;
  padding: 20px 20px;
  position:relative;
  display:flex;
  background-color: #f8eded;
  flex-direction:row;
  }

.box1 {
    width: 55%;
    display: block;
    float: none;
    padding: 5px;
    margin-bottom: 5px;
    text-align:left;
}

.box2 {
    display: flex;
    float: right;
    align-items:start;
    padding: 10px;
    margin-left: 20px;
    margin-top:20px;
    text-align: justify;
}

.box3 {
  width: 95%;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  text-align:start;
}

.box4 {
  width: 86%;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.box5 {
  width:200px;
  position: relative;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
  
}
/*--------------------Image Size-------------*/
.menu1 {
 float: left;
 width: 175px;
 height: 175px;
 object-fit: cover;
 text-align: justify;
 margin-bottom: 5px;

  
}



/*---------------------Overrides--------------*/  
html *{

  font-family:'Raleway'
}

span.c1{
  color:#232323;
  font-weight:bold;
}
span.c2{
  color:#232323;
  font-size: 40px;
  font-weight: bold;
}

span.c3{
  color:#340101;
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
}
span.c4{
  color:#220101;
  font-size: 18px;
  font-weight: bold;
}
span.c5{
  color:#220101;
  font-size: 16px;
  font-weight: bold;
}
span.c6{
  color:white;
  font-size: 40px;
  font-weight: bold;
}

span.c7{
  color:#220101;
  font-size: 16px;
}

@media (max-width: 875px) {
  .row1, .row1 a {
    color:#232323;
    font-weight: bold;
  }
}
@media (max-width: 886px) {
.box5 
{display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: fit-content;
}
}